*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Montserrat&family=Poppins&display=swap');

body {
    background-color: #FDF6EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 6.25rem;
    background: #F6E4C4;
}

.header__logo {
    margin-left: 4.5rem;
}

.header__nav {
    display: flex;
    gap: 2rem;
    margin-right: 4.5rem;
}

.header__nav a {
    color: #1B1919;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

.header__nav a:hover {
    transform: scale(1.2);
    transition: 1s;
}

.home__page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(#FDF6EB 72%, #9E744A 44.9%);
}

.home__page__div {
    display: flex;
    margin: 8rem 0 0 8rem;
}

.home__page__key {
    margin-top: 1rem;
}

.home__page__text {
    margin-top: 6rem;
}

.home__page__title {
    color: #412B20;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home__page__description {
    color: #615e5e;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.home__page__redes {
    display: flex;
    position: absolute;
    top: 51rem;
    left: 20rem;
    gap: 2rem;
}

.home__page__redes__linkedin {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border: 2px solid #412B20;
    background-color: #412B20;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.home__page__redes__github {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    border: 2px solid #412B20;
    background-color: #412B20;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.home__page__redes__linkedin:hover {
    cursor: pointer;
    background-color: #9E744A;
    transform: scale(1.2);
    transition: 1s;
}

.home__page__redes__github:hover {
    cursor: pointer;
    background-color: #9E744A;
    transform: scale(1.2);
    transition: 1s;
}

.notebook {
    position: absolute;
    top: 32rem;
    left: 65rem;
}

.quemsou__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10rem;
}

.quemsou__page__eu {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0 0 8rem;
}

.quemsou__page__eu__foto {
    border-radius: 100%;
    border: 6px solid #412B20;
}

.quemsou__page__eu__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50rem;
    margin-top: 2rem;
}

.quemsou__page__motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    background-color: #D8C7B7;
}

.quemsou__page__motivation p {
    color: #000000;
    width: 40rem;
    text-align: center;
}

.quemsou__page__motivation img {
    height: 500px;
    margin-left: 11%;
}

.curriculo__page {
    margin: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDF6EB;
}

.curriculo_page_informacoes{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.curriculo_page_informacoes p {
    color: #412B20;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formacoes_academica_complementar{
    display: flex;
    gap: 2.5rem;
}

.formacao_academica{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.formacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.25rem;
    height: 13.75rem;
    border-radius: 1.875rem;
    background: #D8C7B7;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    gap: 1.5rem;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formacao .formacao_title {
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.formacao .formacao_description {
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.minhas__habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hard__skills{
    display: flex;
    gap: 4.60rem;
}

.minha__hard__skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 12.5rem;
    height: 12.5rem;
    margin: 1.5rem 0 0 0;
    background-color: #D8C7B7;
    border-radius: 99%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.minha__hard__skill img{
    width: 5rem;
}

.minha__hard__skill p{
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
}

.meusprojetos__page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.meusprojetos__page__title {
    color: #412B20;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5rem;
}

.meusprojetos__page__projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    gap: 2rem;
}

.meusprojetos__page__projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 50rem;
    gap: 1.25rem;
    padding: 2rem;
    border-radius: 3.75rem;
    background: rgba(216, 199, 183, 0.40);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projeto__title {
    color: #1B1B1B;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.projeto__description {
    width: 40rem;
    height: 40rem;
    text-align: center;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projeto__button {
    display: flex;
    gap: 2rem;
}

.ativado__button__deploy {
    width: 16.25rem;
    height: 3.75rem;
    border: 2px solid #412B20;
    border-radius: 0.75rem;
    background: #412B20;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.ativado__button__deploy:hover {
    cursor: pointer;
    border: 4px solid #D8C7B7;
    background-color: #9E744A;
    transform: scale(1.2);
    transition: 1s;
}

.ativado__button__repository {
    width: 16.25rem;
    height: 3.75rem;
    border: 3px solid #D8C7B7;
    border-radius: 0.75rem;
    background: #D8C7B7;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: #1B1919;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.ativado__button__repository:hover {
    cursor: pointer;
    border: 4px solid #D8C7B7;
    background-color: #9E744A;
    transform: scale(1.2);
    transition: 1s;
}

.inativo__button {
    width: 16.25rem;
    height: 3.75rem;
    border: 2px solid #C2C2C2;
    border-radius: 0.75rem;
    background: #C2C2C2;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.inativo__button:hover {
    cursor: pointer;
    border: 4px solid #C2C2C2;
    background-color: #C2C2C2;
    transform: scale(1.2);
    transition: 1s;
}

.fale_comigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;
}

.fale_comigo_text{
    width: 41rem;
    margin: 0 0 2.5rem 0;
}

.fale_comigo_text h1{
    color: #412B20;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_pessoais_obrigatorias, .celular_assunto{
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0 1.5rem 0;
}

.name, .email, .numero, .assunto, .enviar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#nome, #telefone{
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    border: 1px solid #1B1919;
}

#email, #assunto{
    width: 25rem;
    height: 2.5rem;    
    border-radius: 0.75rem;
    border: 1px solid #1B1919;
}

#mensagem{
    height: 8rem;
    width: 41rem;   
    border-radius: 0.75rem;
    border: 1px solid #1B1919;
}

#enviar{
    margin: 1.5rem;
    color: white;
    width: 15rem;
    height: 2.5rem;
    border: 4px solid #412B20;
    border-radius: 0.75rem;
    background: #412B20;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
    font-size: 1.215rem;
}

#enviar:hover {
    cursor: pointer;
    border: 4px solid #D8C7B7;
    background-color: #9E744A;
    transform: scale(1.2);
    transition: 1s;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    width: auto;
    height: 21.375rem;
    background: #412B20;
}

.footer__conteudo {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    padding: 5rem 0 0 0;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu p {
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
}

.footer__menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.footer__menu a:hover {
    transform: scale(1.2);
    transition: 1s;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__redes p {
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
}

.footer__redes a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.footer__redes a:hover {
    transform: scale(1.2);
    transition: 1s;
}

@media (max-width: 1750px) and (min-width: 1200px){
    
    .home__page__title{
        font-size: 3rem;
    }

    .home__page__description{
        font-size: 1.75rem;
    }

    .notebook {
        top: 20rem;
        left: 50rem;
    }

    .notebook img{
        width: 40rem;
    }

    .home__page__redes {
        top: 40rem;
        left: 15rem;
        gap: 2rem;
    }

    .quemsou__page{
        margin: 0 0 25rem 0;
    }

    .quemsou__page__eu__description{
        width: 35rem;
    }

    .meusprojetos__page__projeto{
        width: 40%;
        height: 35rem;
    }

    .meusprojetos__page__projeto img{
        width: 20rem;
    }

    .projeto__description{
        width: 25rem;
    }

    .ativado__button__deploy, .ativado__button__repository, .inativo__button{
        font-size: 1.15rem;
        width: 12rem;
    }

    .fale_comigo{
        margin-top: 5rem;
    }

}

@media (max-width: 1200px) and (min-width: 900px){

    .header__nav a {
        font-size: 1.25rem;
    }

    .home__page__title{
        font-size: 2rem;
    }

    .home__page__description{
        font-size: 1.3rem;
        width: 22rem;
    }

    .home__page__key img{
        height: 18rem;
    }

    .notebook {
        top: 26rem;
        left: 40rem;
    }

    .notebook img{
        width: 30rem;
    }

    .home__page__redes {
        top: 40rem;
        left: 15rem;
        gap: 2rem;
    }

    .quemsou__page__eu__foto{
        width: 22rem;
    }

    .quemsou__page__motivation{
        padding-right: 5rem;
    }

    .quemsou__page__motivation img{
        width: 24rem;
    }

    .quemsou__page{
        margin: 0 0 15rem 0;
    }

    .quemsou__page__eu__description{
        width: 30rem;
    }

    .curriculo__page{
        margin: 0 0 10rem 0;
    }

    .curriculo_page_informacoes{
        margin: auto;
    }

    .formacao{
        width: 26rem;
        height: 12rem;
    }

    .formacao img{
        width: 4.5rem;
    }

    .formacao .description p{
        font-size: 1rem;
    }

    .minha__hard__skill{
        width: 10rem;
        height: 10rem;
    }

    .minha__hard__skill img{
        width: 4rem;
    }

    .minha__hard__skill p{
        font-size: 1.2rem;
    }

    .meusprojetos__page__projeto{
        width: 40%;
        height: 35rem;
    }

    .meusprojetos__page__projeto img{
        width: 15rem;
    }

    .projeto__description{
        width: 20rem;
    }

    .ativado__button__deploy, .ativado__button__repository, .inativo__button{
        font-size: 1rem;
        width: 8rem;
    }

    .footer__conteudo{
        padding-left: 20rem;
        gap: 8rem;
    }

    .footer__menu a, .footer__redes a{
        font-size: 1rem;
    }

    .footer img{
        margin-right: 10rem;
    }

}

@media (max-width: 900px) and (min-width: 350px){
    .header{
        background-color: #000000;
    }

    .header__nav a {
        font-size: 1.25rem;
    }

    .home__page{
        display: flex;
        flex-direction: column;
    }

    .home__page__title{
        font-size: 1.2rem;
    }

    .home__page__description{
        font-size: 1rem;
        width: 20rem;
    }

    .home__page__key img{
        height: 12rem;
    }

    .notebook {
        top: 26rem;
        left: 40rem;
    }

    .notebook img{
        width: 30rem;
    }

    .home__page__redes {
        top: 40rem;
        left: 15rem;
        gap: 2rem;
    }

    .quemsou__page__eu__foto{
        width: 22rem;
    }

    .quemsou__page__motivation{
        padding-right: 5rem;
    }

    .quemsou__page__motivation img{
        width: 24rem;
    }

    .quemsou__page{
        margin: 0 0 15rem 0;
    }

    .quemsou__page__eu__description{
        width: 30rem;
    }

    .curriculo__page{
        margin: 0 0 10rem 0;
    }

    .curriculo_page_informacoes{
        margin: auto;
    }

    .formacao{
        width: 26rem;
        height: 12rem;
    }

    .formacao img{
        width: 4.5rem;
    }

    .formacao .description p{
        font-size: 1rem;
    }

    .minha__hard__skill{
        width: 10rem;
        height: 10rem;
    }

    .minha__hard__skill img{
        width: 4rem;
    }

    .minha__hard__skill p{
        font-size: 1.2rem;
    }

    .meusprojetos__page__projeto{
        width: 40%;
        height: 35rem;
    }

    .meusprojetos__page__projeto img{
        width: 15rem;
    }

    .projeto__description{
        width: 20rem;
    }

    .ativado__button__deploy, .ativado__button__repository, .inativo__button{
        font-size: 1rem;
        width: 8rem;
    }

    .footer__conteudo{
        padding-left: 20rem;
        gap: 8rem;
    }

    .footer__menu a, .footer__redes a{
        font-size: 1rem;
    }

    .footer img{
        margin-right: 10rem;
    }
}